.div1 {
    background-color: blue;
    height: 500px;
    width: 100vw;
}

.div2 {
    background-color: red;
    height: 500px;
    width: 100vw;
}

.div3 {
    background-color: coral;
    height: 500px;
    width: 100vw;
}