
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.title {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;    
}

.scroll-container {
    scroll-behavior: smooth;
}

.schedule {
    /* background-color: coral; */
    height: 100vh;
    width: 100%;
}

.contact-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;       
    justify-content: space-around;
}

.contact {
    width: 50%;
    background-color: red;
}


.contact-title {
    font-size: 50px;
    font-family: 'Gothic A1', sans-serif;        
}

.about-hours-container {
    font-family: 'Gothic A1', sans-serif; 
    width: 50%;
    background-color: blue;       
}

.about-container {
    word-wrap: break-word;  
}

.about {
    font-size: 50px;
}

.nav-bar {
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;        
}

a {
    text-decoration: none;
    color: black;
}
