
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.title {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;    
}

.scroll-container {
    scroll-behavior: smooth;
}

.nav-bar {
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;        
}

.schedule {
    /* background-color: coral; */
    height: 100vh;
    width: 100%;
}

.contact-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;       
    justify-content: space-around;
}

.contact {
    width: 50%;
    /* background-color: red; */
}

.contact p {
    margin-left: 25px;
    font-size: 25px;
}

.contact-title {
    font-size: 125px;
    font-family: 'Gothic A1', sans-serif; 
    display: flex;
    justify-content: center;
    margin: 20px;       
}

.about-hours-container {
    font-family: 'Gothic A1', sans-serif; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: blue;       
}

.about-container {
    margin: 25px;
    word-wrap: break-word;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin: 5px;
    font-size: 125px;
}

.about-content {
    font-size: 30px;
}

.hours-container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours {
    font-size: 125px;
}
.hours-time {
    font-size: 50px;
}

.hours-exceptions{
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}
