.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.title {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;    
}

.pricing {
    background-color: red;
    height: 100vh;
    width: 100%;
}

.schedule {
    background-color: coral;
    height: 100vh;
    width: 100%;
}

.contact {
    background-color: salmon;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}