
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.title {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;    
}

.scroll-container {
    scroll-behavior: smooth;
}


.about-container {
    background-color: red;
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
}

.about {
    font-size: 50px;
    font-family: 'Gothic A1', sans-serif;
    padding-top: 20px;
}

.hours {
    font-size: 50px;
    font-family: 'Gothic A1', sans-serif;            
}

.schedule {
    /* background-color: coral; */
    height: 100vh;
    width: 100%;
}

.contact {
    /* background-color: ; */
    height: 100vh;
    width: 100%;
}

.nav-bar {
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;        
}

a {
    text-decoration: none;
    color: black;
}
