.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.title {
    font-size: 100px;
    font-family: 'Gothic A1', sans-serif;    
}

.test {
    background-color: red;
    height: 500px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}